/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
}

nav {
    background-color: #1f1f1f;
    color: white;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li + li::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 24px;
    background-color: white; /* Line separator */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0 10px;
}

nav ul li a:hover, nav ul li a.active {
    color: #ffd700; /* Gold color on hover */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.container {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#priceResults {
    text-align: left;
}

.price-card {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
}

.price-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price-card p {
    font-size: 16px;
    margin: 0;
}

.contact {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.contact a {
    color: #007BFF;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
